---
import AthleteCard from "../components/AthleteCard";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Featured Parkour Athletes">
    <div class="flex flex-col md:flex-row flex-wrap justify-center items-center p-6 gap-6" >
        <AthleteCard username="calen_chan" fullName="Calen Chan é™³">One of the tricks Calen is known for is his #kong gainer and other variations such as the #kong_gainer_full.</AthleteCard>
        <AthleteCard username="reagan_chan" fullName="Reagan Chan">A very capable athlete from Utah. Some of the moves we feature her performing are the #webster and variations of the gainer like the #side_gainer</AthleteCard>
        <AthleteCard username="silky.zigzag" fullName="ðš‚ðš’ðš•ðš”ðšŽ ðš‚ðš˜ðš•ðš•ðšðš›ðšŠðš—ðš”">Based in Frankfurt Germany, Silke is part of @teamashigaru</AthleteCard>
        <AthleteCard username="ronniestreetstunts" fullName="Ronnie Shalvis">In addition to parkour, Ronnie is an accomplished stunt performer. He has a youtube channel ronniestreetstunts with over a million subscribers. One of the best videos MALL COP VS PARKOUR features his father as the antagonist. Ronnie is also known for his excelent video tutorials. </AthleteCard>
    </div>

</Layout>