---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Parkour.">
  <main>
    <h1 class="text-center">
      Welcome to the practice of <span class="text-gradient">Parkour</span>
    </h1>
    <p class="instructions">
      Sometimes when learning about something new, the technical language is
      confusing. With this site I'm trying to make the jargon accessible. To
      learn the language of parkour, you could start by meeting a few <a
        href="/athletes"
        ><code>athletes</code>
      </a>
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="/moves/webster"
        title="Webster"
        body="View several athletes performing this flip"
      />
      <Card
        href="/athletes/silky.zigzag"
        title="Silke Sollfrank"
        body="Meet this stellar athlete from parkour team Ashigaru @teamashigaru"
      />
      <Card
        href="/moves"
        title="Moves"
        body="A collection of specific named movements in parkour. Browse by category"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
