---
import VideoCard from "../../../components/VideoCard";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Calen Chan 陳">
  <div class="flex flex-wrap flex-row justify-center items-center gap-6 p-6">
    <img src="/calen_chan/profile.jpg" class="rounded-3xl shadow-lg" />

    <div class="max-w-xl rounded-t-xl bg-white rounded-xl shadow-lg p-6">
      <h1 class="text-center text-3xl font-bold my-2">Calen Chan 陳</h1>
      <p class="">
        One of the tricks Calen is known for is the #kong gainer and other
        variations such as the #kong_gainer_full.
      </p>
      <div class="-my-2 text-gray-400 text-center">~</div>
      <div class="text-center text-gray-500">
        Visit his instagram <a
          class="text-gradient"
          href="https://instagram.com/calen_chan/">@calen_chan</a
        >
      </div>
    </div>
  </div>

  <div class="flex flex-wrap gap-8 p-6 justify-center">
    <VideoCard
      client:visible
      canonicalLink="https://www.instagram.com/reel/CZDhAZNF91N/"
      cachedLink="https://cdn.glitch.global/de350676-520f-4f87-b3b5-059abafcaa0e/calen_chan_kong_gainer_pre.mp4?v=1668549002238"
      username="calen_chan"
      trickName="Kong gainer pre"
      trickTags={["kong_gainer_pre", "kong", "gainer", "pre", "kong_gainer"]}
    >
      Jumping over the first wall is the kong. The flip while traveling in a
      forwards direction gives it the gainer. And the pre is because Calen's
      landing is much more difficult because of the precision landing on another
      wall.
    </VideoCard>
  </div>

  <style>
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
